<p id="notice"><%= notice %></p>
<h1>Thank you for your business!</h1>

<h3>Your order has been received.</h3>
	<% order = @customer.order %>
	<% if ! order.blank? %>
		<% order.line_items.each do |line_item| %>
				<%= line_item.quantity %>
				<%= line_item.product.name %>
				<%= number_to_currency line_item.unit_price %>
				<br />
		<% end %>
		Subtotal: <%= number_to_currency order.sub_total %><br /> <!--CAN GRAB THIS BECAUSE OF DB ASSOCIATION -->
		Sales Tax: <%= Order.sales_tax_in_percent %>%<br />
		Grand Total: <%= number_to_currency order.grand_total %>
	<% else %>
		Your cart is empty.
	<% end %>


<hr />
<h3>Your contact information:</h3>


<p>
  <b>Name:</b>
  <%= @customer.name %>
</p>

<p>
  <b>Phone:</b>
  <%= @customer.phone %>
</p>

<p>
  <b>Email:</b>
  <%= @customer.email %>
</p>

<p>
  <b>Address1:</b>
  <%= @customer.address1 %>
</p>

<p>
  <b>Address2:</b>
  <%= @customer.address2 %>
</p>

<p>
  <b>City:</b>
  <%= @customer.city %>
</p>

<p>
  <b>State:</b>
  <%= @customer.state %>
</p>

<p>
  <b>Zip:</b>
  <%= @customer.zip %>
</p>


<%= link_to 'Edit', edit_customer_path(@customer) %> |
<%= link_to 'Back', customers_path %>
