<div class="col-md-12 text-right">
<div class="cart-panel">
<div id="cart">
	<h4>Cart:</h4>
	<div id="cart_msg">
		<%= render 'cart' %>
	</div>
</div> <!--CART-->
</div><!--END CART PANEL-->
</div>
<div class="col-md-12">
<div id="myCarousel" class="carousel slide">
	<div class="carousel-inner">
		<div class="active item"><%= image_tag 'test.png', :alt => 'Test' %></div>
		<div class="item"><%= image_tag 'test.png', :alt => 'Test' %></div>
		<div class="item"><%= image_tag 'test.png', :alt => 'Test' %></div>
			<!--<form style="position:absolute; right:0; top:0; z-index:9998;">
			<form style="background-color:rgba(0,0,0,0.5); position:absolute; top: 0px; right:0; z-index:9998; padding:2em;">
		<input type="text" value="Test me" id="test" /><br />
		<input type="submit" value="Submit" id="submit" class="btn btn-success" />
	</form>-->
	</div>

</div>
<a class="carousel-control left" href="#myCarousel" data-slide="prev"><</a>
<a class="carousel-control right" href="#myCarousel" data-slide="next">></a>
</div> <!--BANNER-->

<h2>Products</h2>

<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam vestibulum libero vitae sagittis rhoncus. Nullam et tristique orci. Suspendisse sit amet neque sit amet dui suscipit fermentum quis eget nunc. Donec ut ornare mauris. Sed elementum metus et viverra feugiat. Integer lacus mi, tristique ac ultrices vitae, consectetur non odio. Suspendisse tincidunt nisl et semper ullamcorper. Nunc non neque eget erat ornare posuere vel sit amet neque. Donec velit sapien, pulvinar vitae interdum quis, bibendum a diam. Curabitur tincidunt dictum dui at congue.</p>
<br />



	
<br />
<br />

<div class="col-md-12">

<% @products.each do |product| %>
		
		<div class="col-md-3">
			<span class="product_name"><a href=""><%= link_to product.name, product %></a></span><br />
			<span class="product_price"><%= number_to_currency product.unit_price %></span><br />
			<div class="square"></div>
			<input type="hidden" class="product-id" value="<%= product.id %>" />
			Quantity: <input type="text" class="quantity" value="1" /><br /><br /> <!-- Change to loop through #s -->
			<button class="btn btn-success add-to-cart" data-product-name="<%= product.name %>" data-price="<%= product.unit_price %>">Add to Cart</button>
	  </div>
<% end %>
</div>





<br />



<br />
